<html>
	<body>
		<p>welcome {{user}}, The other users are :</p>
		<form>
			{% for items in data %} 
				<input type="radio" name="chosen_user" value="{{items.user}}">{{items.user}}<p></p>
			{% endfor %}
			<input type="submit" value="Submit">
		</form>		
	</body>
</html>