<html>
	<body>
		<h1>MSG</h1>
		<form>
			<input type="text" name="msg" />
		</form>
		<p>
	  		<h2><span style="float: right">SEND</span></h2>
	  		<h2><span style="float: left">RECEIVED</span></h2>
		</p>
		<hr>
		<hr>
		<p align="left">{{recent_msg}}</p>
		{% for items in data %} 
			<p align="left">{{items.msg}}</p>
		{% endfor %}
		{% for items in dada %} 
			<p align="right">{{items.msg}}</p>
		{% endfor %}
	</body>
</html>
